<%= form_tag '/login' do %>
	<%= label_tag :username %>
	<%= text_field_tag :username, nil, :autofocus => true, :class => 'form-control' %>
	<%= label_tag :password %>
	<%= password_field_tag :password, nil, :class => 'form-control' %>
	<%= submit_tag 'Login', :class => 'btn btn-default' %>
<% end %>