<%= form_for @entry do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date, :autofocus => true, :class => 'form-control' %>
  </div>
  <div class="entry">
    <%= f.label :entry%>
    <%= f.text_area :entry, :autofocus => true, :cols => "80", :rows => "5", :class => 'form-control' %>
  </div>
  <!-- <div>
    <%#= f.label :image %>
    <%#= f.text_field :image, :class => 'form-control' %>
  </div> -->
  <label></label>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address, :size => 70, :class => "geocomplete" %>
  </div>
  <label></label>
  <div>
    <%= f.label :country %>
    <%= f.collection_select(:country_id, @current_user.countries, :id, :country, { :prompt => true }) %>
  </div>

  <%= f.submit :class => 'btn btn-default' %>
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="jquery.geocomplete.js"></script>
<script type="text/javascript">
  $("input.geocomplete").geocomplete();
</script>