<div class="jumbotron">
	<% if @entries.present? %>
		<% @entries.each do |entry| %>
		  <li><%= entry.country.country if entry.country.present? %></li>
		  <li><%= link_to(entry.name, entry)%></li>
		  <hr class="featurette-divider">
		<% end %>
	<% else %>
		<p>There are no entries to display.</p>
		<hr class="featurette-divider">
	<% end %>  
</div

<!-- START THE FEATURETTES -->
<!-- 	<hr class="featurette-divider">

	<div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	<!-- IF I WANT TO ADD IMG BESIDE TEXT -->
	<!-- <div class="col-md-5">
	  <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	</div> -->
<!-- 	</div>

	<hr class="featurette-divider">

	<div class="row featurette">

	<div class="col-md-7">
	  <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	</div>

	<hr class="featurette-divider"> -->

<!-- /END THE FEATURETTES -->
