<!-- <%# @users.each do |user| %>
	<ul>
		<li><%#= link_to(user.name, user)%></li>
	</ul>
<%# end %> -->

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ol>
<% end %>
<%= form_for @user do |f| %>
  <div class="sign"
    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, :class => 'form-control'  %>
    </div>
    <div class="email">
      <%= f.label :email %>
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <div class="password">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
    <div class="password_conformation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>
    <div class="button">
      <%= f.submit :class => 'btn btn-default' %>
    </div>
  </div>
  

<% end %>