@import "bootstrap-sprockets";
@import "bootstrap";

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 40px;
  border-radius: 4px;
}


/*body {
	background: url('background.jpg');
}*/

/*.hello {
	text-align: right;
}

.container {
	width: 320px;
}

.heading {
	text-align: center;
}

body {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  color: blue;
}

.container {
  max-width: 960px;
  margin: auto;
}

.field_with_errors {
  display: inline;
}

label {
  display: inline-block;
  min-width: 150px;
  text-align: right;
}

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
*/

html {
  background: url(Map.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.pages-home {
  background: none;
  background-color: rgb(239, 239, 239);
}

body {
  background-color: transparent;
/*  margin-top: 60px;
  margin: 0;*/
}

.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.96);
  border: none;
}

h2 {
  text-align: left;
  font-size: 80px;
  margin-top: 0;
}

h3, .h3 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.3;
  color: inherit;
}

h1 {
  font-size: 70px;
  margin: 0;
}

p {
  margin: 0 0 10px;
  font-size: 18px;
}

.jumbotron p {
  font-size: 15px;
}

header h1 a {
  font-size: 40px;
}

.form-control {
  padding: 14px;
  margin-top: 0px;
  height: 45px;
  font-size: 20px;
}

btn-default {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 40px;
}

header li a {
  text-align: left;
}

a {
  color: #636E77;
  text-decoration: none;
}

li a {
  font-size: 18px;
}

ul li {
  list-style: none;
  font-size: 18px;
}

.field_with_errors {
  display: inline;
  border: 1px solid red;
}

label {
  padding-top: 10px;
  min-width: 200px;
  text-align: left;
  font-size: 30px;
/*  padding-bottom: 5px;*/
  /*padding: 20px;*/
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  width: 1400px;
  height: auto;
  line-height: 1;
  /* max-width: 100% !important; */
  height: auto;
  /* display: block; */
}

.row{
  list-style:none;
}

.navbar {
   border-radius: 0px;
}

.navbar-inverse {
  background-color: rgba(205, 220, 223, 1);
  border: none;
}

.jumbotron{
  opacity: 0.95;
  margin-right: -110px;
  background-color: rgba(255, 255, 255, 0.62);
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #629CC0;
  /*background-color: rgba(174, 42, 42, 0);*/
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #629CC0;
  background-color: transparent;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  margin-bottom: 15px;
}

.btn-default {
  color: #fff;
  background-color: #3C3E3F;
/* border-color: #357ebd; */
}

.thumbnail {
display: block;
padding: 8px;
margin-bottom: 20px;
line-height: 1.428571429;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 6px;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
text-align: center;
opacity: 0.8;
margin-top: 18px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  margin:auto;
  /* float: left; */
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  width: 1400px;
  height: 600px;
  line-height: 1;
  max-width:100% !important;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
    text-align: center;
}