<!DOCTYPE html>
<html class="<%= params[:controller] %>-<%= params[:action] %>">
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

    <div class="navbar navbar-inverse navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">TravelTrax</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%== intellinav %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


  <div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= yield %>
    </div>
  
<!-- 	<div class= "heading">
		<nav>
			<ul>
				<li><%#= link_to('Home', root_path) %></li>
				<header><%#== intellinav %></header>
			</ul>
		</nav>
	</div> -->

<!-- <div class= "container">
	<%#= yield %>
</div> -->





